/* Michelle La Forme, IFA WD INT. lab 8, 7 Nov 2024 */
@charset "utf-8";
/* global styles, across all pages of site */

/* general styles */
body {
  background-color: palevioletred;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: pink;
}

p {
  font-size: medium;
  color: rgb(170, 111, 111);
}

header {
  background-color: rgba(255, 255, 255, 0.366);
}

h1 {
  text-align: center;
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
  text-align: center;
  /* so i'm having this issue with all of my pages. it won't center. idk what to do */
  /* oh i didn't clear the main part */
}
article p {
  font-size: 2rem;
}
header > p {
  font-style: italic;
  text-align: center;
  font-size: 2rem;
}

nav li {
  float: left;
  margin-right: 10%;
}

main {
  clear: left;
}
ul {
  list-style-type: "\1F30E";

  /* earth emoji */
}

a {
  border: solid 2px pink;
  background-color: white;
  color: brown;
}

a:hover {
  background-color: palevioletred;
  color: white;
  font-style: italic;
}

footer {
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.366);
}
