body {
  background-color: black;
  width: 80%;
  margin: auto;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  font-style: italic;
  color: lightblue;
}
