@charset "utf-8";
/* Michelle La Forme, IFA WD INT. Lab 9, 8 Nov 2024 */

html {
  background-color: lightsalmon;
}

body {
  background-color: lightyellow;
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: rgb(96, 128, 211);
}

.horizontal li {
  text-align: center;
  background-color: navy;
}

a {
  color: white;
}

section p {
  color: rgb(96, 128, 211);
}

section {
  padding: 1.5%;
}

footer {
  background-color: rgb(52, 113, 182);
  color: white;
}
